<div class="">
  <%= response_field_form.label field_config.title.to_sym, class: "flex items-center space-x-3 text-gray-900 font-medium" %>
  <% if field_config.description.present? %>
        <span class="block mt-1 text-sm text-gray-500">
          <%= field_config.description %>
        </span>
  <% end %>
  <%= response_field_form.number_field :response, required: field_config.required?, step: :any, class: "border border-gray-300 rounded-lg checked:bg-blue-600 checked:border-transparent focus:outline-none form-control" %>
</div>
