<h3>Hey <%= @user.first_name %>,</h3>
<p>
  <%= "The proposal for your #{@proposal.appointment.start_at.strftime("%b %e, %Y, %l:%M %P")} appointment with #{@contact.name} has been completed." %>
  <br>
  <br>
  <%= link_to 'View Proposal', proposal_url(@proposal) %>
</p>
<p>
  Reach out to the support team if you have questions.
</p>
