<!--<div class="bg-white">-->
<!--  <div id="calendar" data-controller="companyCalendar" data-companyCalendar-appointments-value="<%#= @calendar_events.to_json %>" class="p-8">-->
<!--    <div data-companyCalendar-target="calendar"></div>-->
<!--  </div>-->
<!--</div>-->
