<h3 ><%= "Hey #{@appointment.scheduled_with.name}," %></h3>
<p>
  <%= "#{@appointment.created_by.name ||= "Someone"} scheduled a consultation appointment with #{@customer} for  #{@appointment.local_appointment_time}" %>
</p>
