<h3>Hey <%= @applicants_manager.first_name %>,</h3>
<p>
  <%= "Applicant #{@applicant.first_name} #{@applicant.last_name} has applied for #{@job_position} position" %>
  <br>
  <br>
  <%= link_to 'View Application', applicant_url(@applicant.id) %>
</p>

