<!--1st Funding Payment Received card-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      1st Funding Payment Received
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Finance Partner
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Install Date
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Loan Docs Signed
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Approval
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Payment Received
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">Concert</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">January 5th, 2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <div class="text-sm text-gray-500">January 5th, 2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <span class="px-2 mr-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Install Complete
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Payment Received
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <div class="text-sm text-gray-500">January 5th, 2020</div>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--2nd Funding Payment Received card-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      2nd Funding Payment Received
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Finance Partner
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Install Date
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Completion Signed
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Approval
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Payment Received
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Payment Amount
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">Concert</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">January 5th, 2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <div class="text-sm text-gray-500">January 5th, 2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <span class="px-2 mr-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                 Payment Received
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <div class="text-sm text-gray-500">January 5th, 2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <div class="text-sm text-gray-500">$19,010.00</div>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>