<!-- Cancellation Board Information-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      Cancellation Board Information
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
               Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Scheduled Date
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Cancellation Date
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Cancellation Fee
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Submit Substantial Process
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Cancellation Request Reason
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top text-center">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  January 12, 2022
                  <br>
                  12:00 PM
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  January 12, 2022
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  $3,695.50
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                   <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Invoice Sent
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Invoice Paid
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                  Finance Failed
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                  3 Days
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                  Engineering Failed
                </span>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  Customer emailed in saying they did not want to move forward adding date back to board
                </div>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>