<!--Generations Approval-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      Generations Approval
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Energy Consultant
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Install Date
              </th>
              <th scope="col" class="py-3 text-center whitespace-nowrap text-xs font-medium text-gray-500 uppercase tracking-wider">
                Days Until Install
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Funding Updates
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Approval
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  Samuel Thomson
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  January 5th, 2020
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                <div class="text-sm text-gray-500">
                  4
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  Need contract from original solar purchase 1/12 Alyssa
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                 <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Approved
                </span>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Concert Approval-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      Concert Approval
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Upgrade Needed
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Install Date
              </th>
              <th scope="col" class="py-3 text-center whitespace-nowrap text-xs font-medium text-gray-500 uppercase tracking-wider">
                Days Until Install
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Funding Updates
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Approval
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  No
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  January 5th, 2020
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                <div class="text-sm text-gray-500">
                  4
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  Need contract from original solar purchase 1/12 Alyssa
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                 <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Approved
                </span>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Mosaic Approval-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      Mosaic Approval
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Energy Consultant
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Install Date
              </th>
              <th scope="col" class="py-3 text-center whitespace-nowrap text-xs font-medium text-gray-500 uppercase tracking-wider">
                Days Until Install
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Funding Updates
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Approval
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  Samuel Thomson
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  January 5th, 2020
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                <div class="text-sm text-gray-500">
                  4
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  Need contract from original solar purchase 1/12 Alyssa
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Approved
                </span>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--LoanPal Approval-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
     LoanPal Approval
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Energy Consultant
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Install Date
              </th>
              <th scope="col" class="py-3 text-center whitespace-nowrap text-xs font-medium text-gray-500 uppercase tracking-wider">
                Funding Partner
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Funding Updates
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Approval
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  Samuel Thomson
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  January 5th, 2020
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                <div class="text-sm text-gray-500">
                  Sunlight
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  Need contract from original solar purchase 1/12 Alyssa
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Approved
                </span>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Sunlight Approval-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      Sunlight Approval
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Energy Consultant
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Install Date
              </th>
              <th scope="col" class="py-3 text-center whitespace-nowrap text-xs font-medium text-gray-500 uppercase tracking-wider">
                Days Until Install
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Funding Updates
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Approval
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  Samuel Thomson
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  January 5th, 2020
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                <div class="text-sm text-gray-500">
                  4
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  Need contract from original solar purchase 1/12 Alyssa
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Approved
                </span>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--LoanDoc Information-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      LoanDoc Information
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Energy Consultant
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Finance Partner
              </th>
              <th scope="col" class="py-3 text-center whitespace-nowrap text-xs font-medium text-gray-500 uppercase tracking-wider">
                Install Date
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Amount
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Days Until Install
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-center text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center">
                <div class="text-sm text-gray-500">
                  Samuel Thomson
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center">
                <div class="text-sm text-gray-500">
                  Concert
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                <div class="text-sm text-gray-500">
                  January 5th 2020
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  $48,384.00
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                <div class="text-sm text-gray-500">
                  4
                </div>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--LoanDoc Signature-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      LoanDoc Signature
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                LoanDoc Signing Date
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                LoanDoc Expiry Date
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Signing Updates
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                LoanDocs Process
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    January 5th 2020
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  January 5th 2020
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  Need this one contract from original solar purchase 1/12 Alyssa
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                   <span class="px-2 mr-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  1st Invoice Sent
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Docs in Que
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                  Docs Signed
                </span>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
