<!-- Submit Substantial Information-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      Submit Substantial Information
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Customer Name
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Energy Consultant
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Finance Partner
              </th>
              <th scope="col" class="py-3 text-center whitespace-nowrap text-xs font-medium text-gray-500 uppercase tracking-wider">
                Phone Number
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-center text-gray-900">
                    Jane Cooper
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center">
                <div class="text-sm text-gray-500">
                  Samuel Thomson
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center">
                <div class="text-sm text-gray-500">
                  Concert
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                <div class="text-sm text-gray-500">
                  Home: (208) 555-5555
                  <br>
                  Mobile: (208) 555-5555
                </div>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Submit Substantial Completion-->
<div class="sm:rounded-md shadow-lg bg-white">
  <div class="pt-4 pl-6 pb-2">
    <h4 class="text-gray-700 font-bold">
      Submit Substantial Completion
    </h4>
    <p class="text-sm font-semibold text-gray-700">
      16 items • Updated 3 hours ago
    </p>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-b-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Completion Date
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                1st Payment
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                2nd Payment
              </th>
              <th scope="col" class="py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Submit Substantial Process
              </th>

            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="align-top">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">
                    50 Days
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  $19,010.00
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-center font-medium">
                <div class="text-sm text-gray-500">
                  $19,010.00
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                   <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  PTO Approved
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Docs Signed
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                  2nd Invoice Sent
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                  1st Payment Received
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                  2nd Payment Received
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                  Submitted
                </span>
              </td>
            </tr>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
