<div class="flex items-center space-x-3 pb-3">
  <%= form.label field_config.title.to_sym, class: "flex items-center space-x-3 text-gray-900 font-medium" %>
  <%= form.number_field field_config.title.to_sym, class: "border border-gray-300 rounded-lg checked:bg-blue-600 checked:border-transparent focus:outline-none" %>
</div>