<div class="mx-auto w-full flex-grow flex">
  <div class="max-w-7xl   mx-auto flex-grow">
    <div class="h-full">
      <div class="flex flex-row w-screen h-full sm:w-full sm:grid-cols-3 sm:grid overflow-x-scroll sm:overflow-x-hidden scrolling-touch -mx-4 sm:mx-0 indiana-scroll-container indiana-scroll-container--hide-scrollbars">
        <div class="pl-4 sm:pl-0 mr-4 flex-grow  min-w-3/4 sm:min-w-0">
          <div class="text-xl mb-4">Planned</div>
          <div class="small-card">No posts.</div>
        </div>
        <div class="mr-4 min-w-3/4 sm:min-w-0">
          <div class="text-xl mb-4">In Progress</div>
          <div class="small-card">No posts.</div>
        </div>
        <div class="pr-4 sm:pr-0 min-w-3/4 sm:min-w-0">
          <div class="text-xl mb-4">Recently Completed</div>
          <div class="small-card">No posts.</div>
        </div>
      </div>
    </div>
  </div>
</div>