---
http_interactions:
- request:
    method: post
    uri: https://collector.newrelic.com/agent_listener/invoke_raw_method?license_key=&marshal_format=json&method=preconnect&protocol_version=17
    body:
      encoding: UTF-8
      string: '[{"high_security":false}]'
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"exception":{"message":"Invalid license key","error_type":"NewRelic::Agent::LicenseException"}}'
  recorded_at: Fri, 13 Aug 2021 17:03:59 GMT
- request:
    method: get
    uri: https://api-sandbox.aurorasolar.com/v2/tenants/2869d947-2140-4f4d-817d-da6440c74c31/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_sand_98ad2063af91192e432878aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e93423ce3a2acab275fe51b5a8f9366b"
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":"fdbcac2a-976e-4a37-acc4-0c27b7193b2b","email":"somedude@test.com","account_status":"pending","first_name":"Some","last_name":"Dude"},{"id":"e0b0b21e-6503-44d6-b65d-801d5eae7ea0","email":"one@horizonpwr.com","account_status":"pending","first_name":"UserOne","last_name":"LastOne"},{"id":"9ea9f3a0-60cd-4bd3-b487-cd0f87d31b73","email":"no_email_6@horizonpwr.com","account_status":"pending","first_name":"Riley","last_name":"Wright"},{"id":"434d445c-d95d-44c9-a81a-29f26dafae9b","email":"jaredpine@hotmail.com","account_status":"pending","first_name":"Jared","last_name":"Pine"},{"id":"0b8a542c-e49d-4955-a475-a983ecaf8d33","ema[...]
- request:
    method: post
    uri: https://api-sandbox.aurorasolar.com/v2/tenants/2869d947-2140-4f4d-817d-da6440c74c31/users/invite
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"UserThree","last_name":"LastThree","email":"three@horizonpwr.com","phone":"MyStringPhoneThree","title":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_sand_98ad2063af91192e432878aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aab2f7dadd66230958a2e39dd0a346e3"
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"id":"3aff5dda-4cb2-447b-a2dc-e531a295ed29","email":"three@horizonpwr.com","account_status":"pending","phone":"MyStringPhoneThree","first_name":"UserThree","last_name":"LastThree","title":null,"tenant_id":"2869d947-2140-4f4d-817d-da6440c74c31","external_provider_id":null,"user_level":"Team
        Member"}}'
  recorded_at: Fri, 13 Aug 2021 17:04:15 GMT
- request:
    method: post
    uri: https://api-sandbox.aurorasolar.com/v2/tenants/2869d947-2140-4f4d-817d-da6440c74c31/users/invite
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"UserThree","last_name":"LastThree","email":"three@horizonpwr.com","phone":"MyStringPhoneThree","title":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_sand_98ad2063af91192e432878aa
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"username":["has already been taken"]}}'
  recorded_at: Fri, 13 Aug 2021 17:04:36 GMT
[...]
