<!-- This example requires Tailwind CSS v2.0+ -->
<div id="reps-card" class="flex flex-col">
  <div class="my-2 overflow-x-auto">
    <div class="rounded-lg overflow-hidden shadow-lg bg-white">
      <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500 overflow-x-auto">
        <%= render partial: "static/fms" %>
      </div>
    </div>
  </div>
</div>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
  <div class="my-2 overflow-x-auto">
    <div class="rounded-lg overflow-hidden shadow-lg bg-white">
      <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-500 overflow-x-auto">
        <%= render partial: "static/closers" %>
      </div>
    </div>
  </div>
</div>