<%# TODO: If there is no active contest (@contest_id.nil?), show an alternative message/404 type thing. %>
<div class="">

  <div class="relative bg-gray-50">
    <img class="absolute p-1 h-36 w-96 ml-auto mr-auto right-0 left-0 lg:absolute md:mt-10 lg:ml-12 xl:hidden lg:mt-24 lg:p-2" src="logo-horizonpwr.png" alt="">
    <img class="absolute p-1 ml-auto mr-auto right-0 left-0 ml-10 2xl:ml-36 mt-14 invisible xl:visible" style="width:575px" src="logo-horizonpwr.png" alt="">
    <main class="lg:relative">
      <div class="mx-auto lg:mx-16 2xl:mx-40 max-w-7xl md:pt-36 pt-24 w-full pb-20 text-center lg:py-48 lg:text-left">
        <div class="px-4 lg:w-1/2 sm:px-0 xl:pr-10">
          <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-700 sm:text-4xl sm:leading-none md:text-4xl lg:text-5xl xl:text-6xl">
            <span class="mr-1">is giving away over</span>
            <br class="xl:hidden"><span class="xl:text-7xl" style="color:#569cd4">$3,000</span>
            <span class="mr-1">in</span>
            <span class="xl:text-7xl" style="color:#faa535">prizes!</span>
          </h2>
          <br>
          <p class="mt-3 max-w-md mx-auto lg:mx-0 text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-2xl lg:max-w-md">You
            could win! All you need to do is refer a friend that books a consultation. Want more entries? Refer more
            friends!
          </p>
          <div class="mt-10 sm:flex sm:justify-center lg:justify-start p-8">
            <div class="rounded-md shadow">
              <a class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-500 hover:bg-blue-400 hover:text-white focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10" href="#refer-form">Refer
                a friend</a></div>
            <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
              <a class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-blue-500 bg-white hover:text-blue-400 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10" href="#giveaway-details">Giveaway
                Details</a></div>
          </div>
        </div>
      </div>
      <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
        <img class="absolute inset-0 w-full h-full object-cover" src="https://horizonpwr.com/wp-content/uploads/2021/10/AdobeStock_262040260-scaled.jpeg" alt="">
      </div>
    </main>
  </div>
  <div class="bg-gradient-to-br from-blue-500 to-blue-300">
    <div class="pb-24 pt-24" style="background-image: url('https://horizonpwr.com/wp-content/uploads/2021/10/confetti.png')">
      <div class="mx-auto py-12 px-4 sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12">
          <div class="">
            <h2 class="text-3xl text-white font-extrabold tracking-tight sm:text-4xl text-center">Checkout these
              <span class="text-yellow-400">awesome</span> prizes!</h2>
          </div>
          <ul role="list" class="sm:grid sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-3 lg:gap-x-12">
            <li class="list-none">
              <div class="bg-transparent p-2">
                <div class="aspect-w-3 aspect-h-3">
                  <img class="object-cover" src="https://horizonpwr.com/wp-content/uploads/2021/10/Tv.png" alt="">
                </div>

                <div>
                  <div class="text-lg text-center leading-6 font-medium -mt-20 mb-16 sm:mt-auto sm:mb-none">
                    <h3 class="text-white">82" 4K Samsung TV</h3>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-none">
              <div class="bg-transparent p-2">
                <div class="aspect-w-3 aspect-h-3">
                  <img class="object-cover" src="https://horizonpwr.com/wp-content/uploads/2021/10/ipad.png" alt="">
                </div>

                <div class="">
                  <div class="text-lg text-center leading-6 font-medium">
                    <h3 class="text-white">Apple 12.9-inch iPad Pro</h3>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-none">
              <div class="bg-transparent p-2">
                <div class="aspect-w-3 aspect-h-3">
                  <img class="object-cover " src="https://horizonpwr.com/wp-content/uploads/2021/10/card.png" alt="">
                </div>

                <div class="">
                  <div class="text-lg text-center leading-6 font-medium -mt-8 sm:mt-auto">
                    <h3 class="text-white">$500 Visa Gift Card</h3>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="relative bg-gray-50" id="giveaway-details">

    <main class="lg:relative">
      <div class="mx-auto lg:mr-auto w-full text-left lg:py-10 lg:text-left pt-4">
        <div class="text-lg p-12 py-24 xl:p-20">
          <h1 class="text-3xl leading-8 font-extrabold tracking-tight text-blue-500 sm:text-4xl sm:leading-10">Giveaway
            Guidelines</h1>
          <br>
          <ul class="text-xl text-gray-500 leading-8 list-none border-b-2 border-gray-300 lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">
            <li>If you refer a friend who then books a solar consultation with one of our Energy Consultants your name
              will be entered into a raffle to win 1 of the 3 prizes listed above.
            </li>
            <br>
            <li>The person you refer to must be a homeowner.</li>
            <br>
            <li>Unlimited entries.</li>
            <br>
          </ul>
          <br>
          <p class="text-xl text-gray-500 leading-8 lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">On top of getting entered
            into the raffle, you will also receive <strong>$500 </strong> if the person you refer gets their solar
            system installed!</p>
          <br>
          <p class="text-xl text-gray-500 leading-8 lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">The giveaway ends on
            <strong>December 18th</strong>. So, what are you waiting for?</p>
          <br>
          <p class="text-xl text-gray-500 leading-8 lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">Refer a friend for a chance
            to win these awesome prizes!</p>
        </div>

        <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
          <img class="absolute inset-0 w-full h-full object-cover" src="https://horizonpwr.com/wp-content/uploads/2021/10/AdobeStock_425510022-scaled.jpeg" alt="">
        </div>
      </div>
    </main>
  </div>
  <div class="relative bg-gray-50">

    <main class="lg:relative">
      <div class="lg:grid lg:grid-cols-2 text-left">
        <div class="lg:col-start-2 text-lg p-12 py-24 md:p-24 text-gray-500">
          <h2 style="color: rgba(245, 158, 11, var(--tw-text-opacity));">Prizes</h2>
          <br>
          Some prizes are redeemable in cash
          <p class="text-sm">*Cash will not equal the full amount of the prize's value.</p>
          <br>
          <p>Below is the redeemable amount of cash:</p>
          <br>
          <ul class="">
            <li>1st Prize: Redeemable cash $1,300</li>
            <li>2nd Prize: Redeemable cash $1,000</li>
            <li>3rd Prize: Not redeemable in cash*</li>
          </ul>
          <br>
          <p class="text-sm">
            Prizes will be awarded in person after December 18th. Each Entrant irrevocably grants Sponsor and its
            affiliates, legal representatives, assigns, agents and licensees, the unconditional and perpetual right and
            permission to reproduce, encode, store, copy, transmit, publish, post, broadcast, display, publicly perform,
            adapt, exhibit and/or otherwise use or reuse (without limitation as to when or to the number of times used),
            each element of the Entrant's Entry, and use of the Entrant's name, likeness, photograph (collectively,
            "Likeness"), and/or statements regarding his/her participation in this Contest (with or without using the
            Entrant's name) in any and all media without limitation as to time or territory, and without additional
            compensation or approval from the Entrant or any other party. Entrant waives intellectual property rights,
            privacy/publicity rights or other legal or moral rights that might preclude the Sponsor's use of any element
            of the Entry, and agrees not to sue or assert any claim against the Sponsor for the use of any element of
            the Entry or Entrant's Likeness or statements. Entrant further grants all end users of Sponsor's Web Site
            (a) the ability to rate, vote, review, comment on, and tag the Entry; (b) the ability to send and distribute
            the Entry via e-mail, instant messenger, and via social media or other electronic means.
          </p>
        </div>
      </div>
      <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2 lg:h-full">
        <img class="absolute inset-0 w-full h-full object-cover" src="https://horizonpwr.com/wp-content/uploads/2021/10/hiveboxx-FwdWO5yEo5s-unsplash.jpg" alt="">
      </div>
    </main>
  </div>
  <div class="relative bg-gray-50">

    <main class="lg:relative">
      <div class="mx-auto lg:mr-auto w-full text-left lg:py-10 lg:text-left pt-4">
        <div class="text-lg text-gray-500 p-12 py-24 xl:p-20">
          <h2 style="color: rgba(245, 158, 11, var(--tw-text-opacity));">Entry Restrictions</h2>
          <br>
          <p></p>
          <p class="lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">
            No purchase is necessary to enter the giveaway.
          </p>
          <br>
          <p class="lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">
            The giveaway will close on December 18th at 11:59 pm MST.
          </p>
          <br>
          <p class="lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">
            In order for your name to be entered in the giveaway, you must submit a referral, and the referral must have
            an consultation with a HorizonPWR Energy Consultant.
          <p class="lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">
            <br>
            There will be no limitation on the number of referrals an entrant can provide.
          </p>
          <br>

          <h2 style="color: rgba(245, 158, 11, var(--tw-text-opacity));">Selection of Winners</h2>
          <br>
          <p class="lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">
            A random selection will be made. For every referral that has an appointment with an Energy Consultant from
            Horizon PWR, an additional entry will be made for the entrant.
          </p>
          <br>
          <p class="lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">
            The winners will be contacted within 24 hours after the selections have been made.
          </p>
          <br>
          <p class="lg:max-w-md xl:max-w-lg 2xl:max-w-2xl">
            Prizes will be awarded in person.
          </p>
        </div>

        <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
          <img class="absolute inset-0 w-full h-full object-cover" src="https://horizonpwr.com/wp-content/uploads/2021/10/AdobeStock_277855523-scaled.jpeg" alt="">
        </div>
      </div>
    </main>
  </div>


  <div id="refer-form" class="bg-gradient-to-b from-blue-500 to-blue-300 pt-16 px-12 overflow-hidden sm:px-6 lg:px-8">
    <div class="relative max-w-xl mx-auto">
      <div class="text-center">
        <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-white sm:text-4xl sm:leading-10">Refer A
          Friend</h2>
        <p class="mt-4 text-lg leading-6 text-white">…or neighbor, or family member. We'll get on it!</p>
      </div>
      <div class="mt-12 ">
        <%= render partial: "referrals/form", locals: { referral: @referral, show_cards: false } %>
      </div>
    </div>
    <% if user_signed_in? %>
      <p class="text-white text-center text-md mt-24 mb-4">
        <strong>
          Hey <%= current_user.first_name %>!
        </strong>
        You are signed in and we'll make sure you get credit if there's a Quality Sit.
      </p>
    <% end %>
  </div>
</div>