<%= title "Leaderboard" %>
<div class="my-4 px-4">
  <!-- Main 3 column grid -->
  <%= render partial: "static/leaderboards/toggle_view" if !current_user.sales?%>
  <%= render partial: "static/leaderboards/#{@leaderboard}" %>
</div>