<div style="width: 100%; height: 600px; margin-bottom: 20px; border-radius: 6px; overflow: hidden;">
  <iframe style="width: 100%; height: 600px;" frameborder="no" scrolling="no" seamless src="https://player.captivate.fm/show/059f242a-4b97-4e45-bf8a-96c90d7032f0"></iframe>
</div>